<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.stop.dao.NoticeDao">
    <insert id="insertNotice" parameterType="com.fzu.stop.pojo.NoticeDO">
        insert into notice(title, content, top, update_time, status)
        values(#{title},#{content]},#{top},CURRENT_TIMESTAMP,#{status})
    </insert>
    <select id="selectNoticeById" resultType="com.fzu.stop.pojo.NoticeDO">
        select * from notice where id = #{id}
    </select>
    <select id="selectAllNotices" resultType="com.fzu.stop.pojo.NoticeDO">
        select * from notice
        <where>
            <if test="keyword != null and keyword != ''">
                title like '%${keyword}%' or content like '%${keyword}%'
            </if>
            <if test="top != null">
                and top = #{top}
            </if>
            <choose>
                <when test="orderBy == 1">
                    order by update_time
                </when>
                <when test="orderBy == 0">
                    order by publish_time
                </when>
            </choose>
            <if test="start != null">
                limit #{start}, #{limit}
            </if>
        </where>
    </select>
    <update id="updateNoticeById" parameterType="com.fzu.stop.pojo.NoticeDO">
        update notice
        <set>
            <if test="title != null">
                title = #{title}
            </if>
            <if test="content != null">
                ,content = #{content}
            </if>
            <if test="top != null">
                ,top = #{top}
            </if>
            <if test="status != null">
                ,status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>