<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.stop.dao.NoticeDao">
    <insert id="insertNotice" parameterType="com.fzu.stop.pojo.NoticeDO">
        insert into notice(title, content, top, update_time, status)
        values(#{title},#{content]},#{top},CURRENT_TIMESTAMP,#{status})
    </insert>
    <select id="selectNoticeById" resultType="com.fzu.stop.pojo.NoticeDO">
        select * from notice where id = #{id}
    </select>
    <select id="selectAllNotices" resultType="com.fzu.stop.pojo.NoticeDO">
        select * from notice where 1 = 1
        <if test="keyword != null and keyword != ''">
            and title like '%${keyword}%' or content like '%${keyword}%'
        </if>
        <if test="top!=null">
            and top = #{top}
        </if>
        <choose>
            <when test="orderBy==1">
                order by update_time
            </when>
            <otherwise>
                order by publish_time
            </otherwise>
        </choose>
        <if test="start!=null">
            limit #{start}, #{limit}
        </if>
    </select>
</mapper>