<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.stop.dao.StatisticsDao">

    <select id="getParkingSituation" resultType="com.fzu.stop.pojo.ParkingSituationDO">
        select device_id as id, device.name, time, cars_number value
        from device,
        crowd_situation
        where crowd_situation.time in
        (select max(time)
        from crowd_situation
        where `time` between #{start} and #{end}
        <if test="id!=null">and device_id=#{id}</if>
        <if test="id==null">group by device_id</if>
        )
        and device.id = crowd_situation.device_id;
    </select>

    <select id="getHourlyParkingSituation" resultType="java.lang.Integer">
        select cars_number value
        from crowd_situation
        where time in
              (select max(time)
               from crowd_situation
               where `time` between #{start} and #{end}
                 and device_id = #{id}
              )
    </select>

    <select id="getDailyParkingSituation" resultType="com.fzu.stop.pojo.ParkingSituationDO">
        select DATE_FORMAT(time, "%Y-%m-%d") time, max(cars_number) value, device.name
        from crowd_situation,
             device
        where time between #{start} and #{end}
          and device.id = crowd_situation.device_id
        group by day(time), device_id
        order by time;
    </select>


    <select id="getPointsByDeviceId" resultType="com.fzu.stop.pojo.PointDO">
        select * from point where device_id =#{id};
    </select>




</mapper>